<div class="container">
  <h4 class="mainbox col-md-7" style="margin:auto">Upload txt file with requirements</h4>
  <p></p>

  <form [formGroup]="uploadFileForm" (ngSubmit)="onSubmit()" class="mainbox col-md-7" style="margin:auto">

    <div class="form-group">
      <div class="input-group">
        <div class="input-group-prepend">
          <span class="input-group-text" id="inputGroupFileAddon01">Requirements file</span>
        </div>
        <div class="custom-file">
          <input type="file" (change)="onFileChange($event)" class="custom-file-input" id="file"
            aria-describedby="inputGroupFileAddon01" #fileInput formControlName="file" accept=".txt">
          <label class="custom-file-label" for="inputGroupFile01">
            {{ filename ? filename : 'Choose a txt file' }}
          </label>
        </div>
        <div *ngIf="filename">
          <button type="button" class="btn btn-light" (click)="clearFile()">Clear file</button>
        </div>
      </div>
    </div>
    <button *ngIf="contentFile" type="submit" class="btn btn-success">Process file</button>
    <div *ngIf="requirements" style="margin:auto">
      <h5>File proccessed</h5>
      </div>
  </form>

  <br /><br />
  
</div>