<div align="center">
  <button class="btn btn-dark" [routerLink]="['/project',projectSelected?projectSelected.account_name:'']">
    Go back to requirements page</button>
  <p></p>
  <br />
</div>

<div class="container">
  <div class="mainbox col-md-7" style="margin:auto">
    <h4>Project: {{account}}</h4>

    <p></p>
  </div>
</div>

<br/>

<app-upload-file></app-upload-file>

<div class="container">
  <div class="mainbox col-md-7" style="margin:auto">
    <h4>Or insert a requirement</h4>
    <form [formGroup]="form" (ngSubmit)="insertRequirement()">
      <p>
        <label>Requirement: </label>
        <input type="text" placeholder="Text requirement" class="form-control" name="new_requirement"
          id="new_requirement" formControlName="new_requirement">
      </p>
      <input class="btn btn-dark" type="submit" value="Insert" />
    </form>
  </div>
</div>