<!--The content below is only a placeholder and can be replaced.-->

<div class="navbar-brand">
    <div class="navbar-item">
      <a href="http://www.ibercivis.es/" target=”_blank”>
        <img src="assets/img/ibercivis_logo.jpg"  width="20%" height="20%">
      </a>
      <a href="https://openreq.eu/" target=”_blank”>
        <img src="assets/img/OpenReq_logo.png"  width="20%" height="20%">
      </a>
    </div>
</div>

<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
</div>

<br/><br/>

<app-upload-file></app-upload-file>

<router-outlet></router-outlet>
