.inner-addon {
    position: relative;
  }
  
  /* style glyph */
  .inner-addon .fas {
    position: absolute;
    padding: 10px;
    pointer-events: none;
  }
  
  /* align glyph */
  .left-addon .fas  { left:  0px;}
  .right-addon .fas { right: 0px;}
  
  /* add padding  */
  .left-addon input  { padding-left:  30px; }
  .right-addon input { padding-right: 30px; }