
<div *ngIf="accounts else nodata" class="container" style="margin:auto">

  <h4>Project: </h4>
  <div [formGroup]="selectProjectForm">
    <select id="selectedAccount" formControlName="selectedAccount" (change)="accountChange($event.target.value)">
      <option *ngFor="let acc of accounts" [ngValue]="acc.account_name">{{acc.account_name}}</option>
    </select>
    <button class="btn btn-dark" routerLink="/new_project" style="margin-left:1em">New project</button>
    <button class="btn btn-dark" (click)="deleteProject()" style="margin-left:1em">Delete project</button>
  </div>
  
  <p></p>
  
  
  <h3>Requirements</h3>

  <div align="center">
    <button  class="btn btn-dark" routerLink="/insert">Insert requirements</button>
    <p></p>
  </div>

  <form [formGroup]="searchRequirementForm">
    <div class="form-group">
      <div class="inner-addon left-addon">
        <i class="fas fa-search"></i>
        <input type="text" class="form-control" placeholder="Search a requirement" id="searchRequirement"
          formControlName="searchRequirement">
      </div>
    </div>
  </form>


  <table class="table table-striped table-bordered table-hover">
    <thead class="thead-dark">
      <tr>
        <th scope="col">#</th>
        <th scope="col" (click)="sortType = 'text'; sortReverse = !sortReverse"
        [class.active]="sortType === 'text'">Requirement
          <span [hidden]="sortType == 'text' && sortReverse || sortType !='text'" >▼</span>
          <span [hidden]="sortType == 'text' && !sortReverse || sortType !='text'">▲</span>
        </th>
        <th scope="col" (click)="sortType = 'tweet_class'; sortReverse = !sortReverse">Class
          <span [hidden]="sortType == 'tweet_class' && sortReverse || sortType !='tweet_class'" >▼</span>
          <span [hidden]="sortType == 'tweet_class' && !sortReverse || sortType !='tweet_class'">▲</span>
        </th>
        <th scope="col">From</th>
        <th scope="col">Action</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let req of ( filteredOptions | orderBy:sortType:sortReverse ); 
                  let i = index" [attr.data-index]="i + 1">
        <th scope="row">{{i+1}}</th>
        <td style="width: 70%;">{{req.text}}</td>
        <td>{{req.tweet_class}}</td>
        <td>{{req.user_name == 'FILE' ? 'File' : 'Twitter'}}</td>
        <td align="center">
          <span (click)="deleteRequirement(req.status_id)"><i style="cursor: pointer;" class="fas fa-trash-alt"></i></span>
        </td>
      </tr>
    </tbody>
  </table>

</div>


<ng-template #nodata>
  <p align="center">There is no data.</p>
</ng-template>